{% extends './base.html' %}
{% load static %}

{% block content %}
 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

        <center>
            <form action="{% url 'search' %}" method="GET" style="width: 50%;" class="input-group rounded">
                <input value="{{ searched }}" name="searched" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <a type="submit" class="btn btn-primary">
                  <i class="bi bi-binoculars"></i>
                </a>
              </form>
            <hr>
          </center>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 portfolio-container">
        {% if searched %}
          {% for result in results %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% url 'details' result.pk %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{ result.image.url }}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'details' result.pk %}" title="More Details">{{ result.title }}</a></h4>
                  <p>{{ category.created_at }}</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
          {% empty %}
          <h1>nada buscado: {{ searched }}</h1>
          {% endfor %}
        {% else %}
            <h1>nada buscado</h1>
            <br>
        {% endif %}
        </div><!-- End Portfolio Container -->
      </div>
      página {{ results.number }} / {{ results.paginator.num_pages }}
      <!-- Pagination-->
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                {% if results.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?searched={{ searched }}&page={{ results.previous_page_number }}">
                        <i class="bi bi-arrow-left-short"></i>
                    </a>
                </li>
                {% endif %}

                {% for num_page in results.paginator.page_range %}
                    {% if results.number == num_page %}
                        <li class="page-item active"><a class="page-link" href="?searched={{ searched }}&page={{ num_page }}">{{ num_page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?searched={{ searched }}&page={{ num_page }}">{{ num_page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if results.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?searched={{ searched }}&page={{ results.next_page_number }}">
                        <i class="bi bi-arrow-right-short"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
            <br>
        </nav>

    </div>
<br><br><br>

  </section><!-- End Portfolio Section -->
{% endblock %}
